.playButton {
    display: block;
    margin-top: 24px;
    padding: 10px 50px;
    border: 2px solid rgb(85, 177, 238);
    color: rgb(85, 177, 238);
    border-radius: 6px;
    transition: all .3s;
    cursor: pointer;
}

.playButton:hover {
    background-color: rgb(85, 177, 238);
    color: white;
    transition: all .3s;
}