.wrapper__heading {
    text-align: center;
}

.cloud {
    display: flex;
    flex-wrap: wrap;
}

.cloud__item {
    cursor: pointer;
    transition: all .3s;
    position: relative;
}

.words_check {
    visibility: hidden;
}

:global(.checked) .words_check {
    visibility: visible;
}

:global(.checked) {
    color: rgb(192, 190, 190);
    font-weight: bold;
}

.cloud__item:hover {
    color: rgb(235, 153, 106);
    transform: scale(1.2);
    transition: all .3s;
}

.wrapper {
    width: 600px;
    height: 600px;
    position: relative;
}

.words_check {
    position: absolute;
    left: 10px;
    top: 50%;

}

.correct {
    color: green;
}

.incorrect {
    color: red;
}

.buttonWrapper {
    width: 100%;
    display: flex;
    justify-content: center;

}

.cloud__item {
    padding: 15px;
}